
.obsidian/vault-stats.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/graph.json
.obsidian/vault-stats.json
.obsidian/plugins/table-editor-obsidian/data.json
.obsidian/plugins/obsidian-excalidraw-plugin/data.json
.obsidian/graph.json
.obsidian/community-plugins.json
.obsidian/appearance.json
.obsidian/app.json
.obsidian/vault-stats.json
.obsidian/plugins/table-editor-obsidian/data.json
.obsidian/plugins/obsidian-excalidraw-plugin/data.json
.obsidian/graph.json
.obsidian/community-plugins.json
.obsidian/appearance.json
.obsidian/app.json
*.json